{% extends '@SuperComm/Default/base.html.twig' %}

    {% block title %}<title>Inscrivez-vous !</title>{% endblock %}


{% block content %}

    <div class="bgContact">

        <p class="infoContact">Pour avoir accèes à nos ressources premium, il suffit de vous inscrire</p>

        {{ form_start(formView) }}

        <p class="labelContactForm">{{ form_label(formView.civility, 'Civilité*') }}</p>
        {{ form_widget(formView.civility, { 'attr': {'class': 'widgetContactForm'} }) }}

        <p class="labelContactForm">{{ form_label(formView.lastname, 'Nom*') }}</p>
        {{ form_widget(formView.lastname, { 'attr': {'class': 'widgetContactForm'} }) }}

        <p class="labelContactForm">{{ form_label(formView.firstname, 'Prénom*') }}</p>
        {{ form_widget(formView.firstname, { 'attr': {'class': 'widgetContactForm'} }) }}

        <p class="labelContactForm">{{ form_label(formView.email, 'Email*') }}</p>
        {{ form_widget(formView.email, { 'attr': {'class': 'widgetContactForm'} }) }}

        <p class="labelContactForm">{{ form_label(formView.password, 'Mot de passe*') }}</p>
        {{ form_widget(formView.password, { 'attr': {'class': 'widgetContactForm'} }) }}

        <p class="labelContactForm">{{ form_label(formView.status, 'Vous êtes ?') }}</p>
        {{ form_widget(formView.status, { 'attr': {'class': 'widgetContactForm'} }) }}

        <p class="labelContactForm">{{ form_row(formView.submit, { 'label': 'Envoyer', 'attr': {'class': 'boutonEnvoyer'} }) }}</p>

        {{ form_end(formView) }}


    </div>
{% endblock %}



