{% extends '@SuperComm/Default/base.html.twig' %}

    {% block title %}<title>La boîte à outils</title>{% endblock %}

{% block content %}

    <div class="container-fluid pt-2">

        <a class="returnPage" href="{{ path('super_comm_ressources') }}"><p >◄ La boîte à outils</p></a>

        <div class="container d-flex flex-column articleDetailBorder">
            <div class="row">

                <div class="col-lg-4 ">
                    <img src="{{ article.image }}" class="boxImgArticle">
                </div>

                <div class="col-lg-8 ">
                    <div class="row articleDetail">

                        <div class="col-lg-12 p-3"><span class="spanArticleDetail">Par {{ article.author }} | le {{ article.dateOnPublished.date |date ('d/m/Y') }}</span></div>
                        <div class="col-lg-12"><h2 class="articleDetailTitle">{{ article.title }}</h2></div>

                    </div>
                </div>

            </div>

            <div class="row articleDetailContent">
                <div>{{ article.content |raw }}</div>
            </div>

        </div>
    </div>

{% endblock %}
